.DS_Store
desktop.ini

# Jetbrains
.idea
.vscode

# Output of 'npm pack' or 'pnpm pack'
*.tgz

# Optional eslint cache
.eslintcache

# Ignore other package managers
# pnpm-lock.yaml
package-lock.json
yarn.lock

# Optional npm/pnpm cache directory
.npm
.pnpm-store

# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Astro build output
dist

# Astro generated types
.astro/

.lycheecache
dist/

# environment variables
.env
.env.production

# Translations
src/content/docs/
!src/content/docs/en/
